name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.7'
          cache: true

      - name: Setup Buf
        uses: bufbuild/buf-setup-action@v1
        with:
          github_token: ${{ github.token }}

      - name: Install Protoc Plugins
        run: |
          go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest

      - name: Run Buf Generate
        working-directory: ./common
        run: buf generate

      - name: Go Mod Tidy
        run: go mod tidy

      - name: Build Server
        run: go build -v -o pocman-server ./server/cmd/server

      - name: Build Agent
        run: go build -v -o pocman-agent ./agent/cmd/agent
